<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @component.name %>
</p>

<% if @component.verified %>
  This component has been verified!
<% else %>
  <strong>WARNING:</strong> This component has not been verified!
<% end %>
<br>

<%= link_to 'Edit', edit_component_path(@component) %> |
<%= link_to 'Back', components_path %>
