<div class='ingredient-header'>
  <h1>Ingredients</h1>

  <%= link_to 'New Ingredient', new_ingredient_path %>
</div>

<table class='ingredient-table'>
  <thead>
    <tr>
      <th>Verified?</th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td class='verified'><%= ingredient.verified%></td>
        <td class='ingredient-name'><%= link_to ingredient.name, ingredient %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>