WhatsInMyFood.info is a food transparency project (and in the interest of transparency, the developer wants you to know that it should really be What'sInMyFood.info, since in this case, "What's" is a contraction for "What is." Unfortunately, the internet doesn't let us do that).<br><br>

At WhatsInMyFood.info, you can find out what elements are in the food you're eating. Not sure if your pasta contains gluten? Plug the ingredients in here and find out! If you are using prepackaged foods like cans of beans or boxes of pasta, we recommend that you check every ingredient on the ingredients list to make sure that you don't get bad information due to a brand difference.<br><br>

You might notice that it's pretty bare bones around here right now. That's because this site is being written as part of the developer's capstone for the <a href='http://adadevelopersacademy.org/'>Ada Developers Academy</a>. The main part of the capstone is over at <a href='http://www.epicookbook.com'>epicookbook.com</a>.<br><br>

This is v1.0.0. Eventually, this site will have a robust front end that allows you to put ingredients directly into the site and see what components it has, or what popular diets (like vegan/gluten-free) it does/doesn't adhere to. Right now, it's just an API and an admin portal to handle that API.<br><br>

Are you a developer interested in using my API? Find out how over <a href='/documentation'>here</a>. Are you a health professional who is very familiar with nutrition and allergens, and you would like to get involved? Send me (Ellen) an <a href='mailto:shanghaiellen@gmail.com'>email</a>.