/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
  width: 80%;
  margin: auto;
}

.header{
  background-color: lightblue;
  min-height: 120px;
  padding: 5px;
}

.header-links h2{
  display: inline;
  max-width: 15%;
  margin: auto;
  text-align: center;
}

.ingredient-header{
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
}

.ingredient-table{
  width: 50%;
  margin: auto;
}

.ingredient-name{
  width: 50%;
  text-align: center;
}

.verified{
  text-align: center;
  width: 3em;
}